.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 95vh;
  text-align: center;
  width: 100%;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  margin: 0 auto;
}

.title {
  font-family: 'Days One', sans-serif;
  font-style: bold;
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin: 0 66px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Geist', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  color: white;
  text-align: center;
  line-height: 1.4;
  max-width: 940px;
  width: 100%;
}

.spotify-connect {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.spotify-button {
  display: flex;
  align-items: center;
  background-color: #474747;
  padding: 12px 15px;
  border-radius: 10px;
}

.spotify-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.spotify-text {
  font-family: 'Geist', sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
