.logout-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem;
    font-family: 'Geist', sans-serif;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
  }
  
  .logout-button:hover {
    background-color: #952026;
    transform: scale(1.05);
  }
  
  .logout-icon {
    font-size: 1.2rem;
    margin-right: 0.2rem;
  }